@import "src/App/App";

.featured {
    &__container{
        row-gap: 2.5rem;
    }

    &__img{
        height: 214px;
        margin-bottom: var(--mb-1);
        object-fit: contain;
    }
    &__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-bold);
    }
    &__title{
        text-transform: uppercase;
        margin-bottom: var(--mb-0-75);
    }
    &__button{
        font-size: var(--small-font-size);
        transform: translateY(1rem);
        opacity: 0;
    }
}
