@media screen and (max-width: 320px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home{
        &__img-bg{
            width: 220px;
        }
        &__title{
            font-size: var(--h1-font-size);
        }
        &__button{
            font-size: var(--smaller-font-size);
        }
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .home__img-bg{
        width: 340px;
    }

    .featured__container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 767px){
    .section{
        padding: 8rem 0 1rem;
    }

    .cart{
        width: 420px;
        box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        justify-content: initial;
        column-gap: 3rem;

        &__toggle,
        &__close{
            display: none;
        }
        &__list{
            flex-direction: row;
            column-gap: 2.5rem;
        }
        &__link{
            text-transform: initial;
            font-size: var(--normal-font-size);
        }
        &__btns{
            margin-left: auto;
        }
    }

    .home{
        &__container{
            padding-top: 6rem;
            grid-template-columns: 1fr max-content;
            align-items: center;
        }
        &__img-bg{
            order: 1;
            transform: translate(1.5rem, -6rem);
        }
        &__data{
            padding: 0 0 3rem 6rem;
        }
    }

    .featured__title {
        font-size: var(--normal-font-size);
    }

    .footer{
        &__container{
            grid-template-columns: repeat(1, max-content);
            justify-content: center;
        }
        &__title{
            font-size: var(--h3-font-size);
        }

        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
    }
}

@media screen and (min-width: 992px){
    .section__title{
        font-size: var(--h2-font-size);
    }
    .home{
        &__container{
            column-gap: 2rem;
        }
        &__img-bg{
            width: 480px;
            height: 680px;
        }
        &__img{
            width: 420px;
        }
        &__data{
            padding: 0 0 8rem 6rem;
        }
    }

    .featured {
      &__container{
        grid-template-columns: repeat(3, 350px);
        padding-top: 2rem;
        gap: 3.5rem;
      }

      &__img {
        height: 500px;
        }
    }

}

/* For large devices */
@media screen and (min-width: 1024px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    #featured {
      height: 60rem;
    }

    .featured {
      &__container {
        grid-template-columns: repeat(3, 469px);
        padding-top: 2rem;
        gap: 3.5rem;
      }

      &__img {
        height: 500px;
        }
    }

    .scrollup{
        right: 3rem;
    }
}
